:root {
  --bgColor: #f9f7f7;
  --playColor: #ffffff;
  --bgAccordion: #ffffff;
  --bgValueAccordion: #e1e1e1;
  --color: #000000;
  --bgFooter: #d9d9d9;
}
.dark {
  --bgColor: #1c1a18;
  --playColor: #ff2929;
  --bgAccordion: #121212;
  --bgValueAccordion: #242424;
  --color: #ffffff;
  --bgFooter: #121212;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iran";
  user-select: none;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "iran";
  src: url(../../assets/fonts/iransan.ttf);
}
body {
  background-color: var(--bgColor);
  transition: all 0.3s;
}
.header {
  width: 100%;
  height: 80vh;
  transition: all 0.5s;
  background-image: url(../../assets/images/image\ 62.png);
  background-position: center;
  background-size: cover;
}
.header nav {
  margin-right: -11.6px;
  background: rgba(0, 0, 0, 0.62);
  box-shadow: 0px 1px 9px rgba(80, 78, 78, 0.25);
  left: 0;
  z-index: 10;
}
@media only screen and (max-width: 767px) {
  .header {
    height: 50vh;
    background-position: left;
  }
}
.bg-shadow {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.98) 13.25%,
      rgba(0, 0, 0, 0) 59.16%
    ),
    linear-gradient(300deg, rgba(0, 0, 0, 0.98) 13.25%, rgba(0, 0, 0, 0) 59.16%);
  position: absolute;
  top: 0;
}
.cursor {
  cursor: pointer;
}
.bg-gray {
  background: rgba(255, 255, 255, 0.62);
  box-shadow: 0px 1px 9px rgba(80, 78, 78, 0.25);
}
.activeMode {
  background: rgba(255, 255, 255, 0.62);
  box-shadow: 0px 1px 9px rgba(80, 78, 78, 0.25);
  border-radius: 10px;
  transition: all 0.3s;
}
.icon-searchBar {
  position: relative;
  left: 20px;
}
.inputSearchBar {
  outline: none;
  font-size: 13px;
  display: none;
}
.inputSearchBar::placeholder {
  color: #ffffff;
  font-size: 12px;
}
.btnLogin {
  background: rgba(0, 0, 0, 0.62);
  box-shadow: 0px 1px 9px rgba(80, 78, 78, 0.25);
  border-radius: 10px;
}
.modal-content {
  background-color: #1c1a18;
}
.text-gray {
  color: #868686;
}
.activeStatus {
  color: #ffffff;
}
.activeStatus::after {
  content: "";
  height: 1px;
  width: 50px;
  position: absolute;
  background-color: #ff2929;
  bottom: 0;
}
.modal-body form div input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ff2929;
  font-weight: 400;
}
.modal-body form div input::placeholder {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.btn-red {
  background-color: #ff2929;
  color: #ffffff;
  transition: all 0.3s;
}
.btn-red:hover {
  background-color: #e10404;
  color: #ffffff;
}
.text-xs {
  font-size: 14px;
}
.menuMobile {
  background-color: #1c1a18;
  box-shadow: 0px 1px 9px rgba(80, 78, 78, 0.25);
  border-radius: 0px 0px 20px 20px;
  top: 80px;
  right: 0;
  z-index: 2;
  display: none;
}
.dropdownMenu {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1a18;
  box-shadow: 0px 1px 9px rgba(80, 78, 78, 0.25);
  border-radius: 0px 0px 20px 20px;
  padding: 20px 0;
}
.activeDropDown {
  display: flex;
}
.parenDropDown {
  top: 80px;
  z-index: 2;
}
.activeMobileMenu {
  display: block;
}
form {
  display: none;
}
.formStatusActive {
  display: block;
}
.slider,
.sliderDropDown {
  display: none;
}
.activeSlide,
.activeSlideDropDown {
  transition: all 0.5s;
  display: block;
}
.slider img,
.sliderDropDown img {
  width: 200px;
}
.btn-slider {
  background: rgba(56, 56, 56, 0.62);
  box-shadow: 0px 1px 9px rgba(80, 78, 78, 0.25);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn-slider-right {
  right: 50px;
}
.btn-slider-left {
  left: 50px;
}
.text-main-header {
  width: 50%;
}
.text-main-header h1 {
  font-weight: bold;
}
#btnBuyTiketMainHeader {
  border: 2px solid #ff2929;
  color: #ff2929;
}
.sectionCategory {
  width: 50%;
  background: #f8f8f8;
  box-shadow: 0px 0px 15px rgba(158, 158, 158, 0.25);
  border-radius: 9px;
  top: -30px;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  line-height: 50px;
  cursor: pointer;
}
.category svg {
  fill: #585858;
}
.category span:nth-child(2) {
  margin-top: 2px;
  font-weight: 600;
}
.activeCategory {
  background: rgba(118, 113, 113, 0.28);
  box-shadow: 0px 0px 15px rgba(158, 158, 158, 0.25);
  border-radius: 8px;
  color: #ff2929;
}
.activeCategory svg {
  fill: #ff2929;
}
.title-slider-product h3 {
  color: var(--color);
}
.link-slider-product a {
  color: #ff2929;
  font-size: 0.9rem;
}
.swiper {
  width: 100%;
  margin-top: 30px;
  cursor: grab;
}
.swiper-slide {
  width: 248px;
  height: 100%;
}
.line {
  height: 1px;
  background-color: hsl(200, 3%, 62%);
  margin-bottom: 10px;
}
.line-Short {
  width: 60%;
}
.line-tall {
  width: 80%;
}
.overlay {
  height: 363px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  bottom: 0;
  display: none;
}
.swiper-slide:hover .overlay {
  display: flex;
}
.text-discount-link {
  font-size: 16px;
  color: #5f5f5f;
}
.discount-input {
  font-size: 14px;
  outline: none;
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 10px 0;
}
.discount-input::placeholder {
  color: #a0a0a0;
  font-size: 14px;
}
.buy-subscription-parent {
  height: 80px;
}
.section-buy-subscription-icon::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #1c1a18;
  border-radius: 50%;
  top: -17px;
  right: 77px;
}
.section-buy-subscription-icon::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #1c1a18;
  border-radius: 50%;
  bottom: -17px;
  right: 77px;
}
.section-buy-subscription-icon {
  width: 12%;
  border-left: 2px dashed #a4a4a4;
}
.section-buy-subscription {
  width: 88%;
}
.title-buy-subscription {
  font-weight: 600;
}
.offer {
  background-color: #ff2929;
  font-size: 11px;
}
.price {
  font-size: 12px;
  color: #6a6a6a;
  font-weight: 500;
}
.text-buy-subscription {
  color: #ff2929;
  font-weight: 500;
}
.box-best-movie {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 185px;
  height: 449px;
}
.box-best-movie img {
  width: 100%;
  height: 100%;
}
.box-best-movie .overlay-bet-movie-desc , .box-best-movie .playMovie {
  display: none;
}
.activeBoxMovie {
  width: 715px;
  background-image: url("../../assets/images/Rectangle\ 56.png"),
    url("../../assets/images/Rectangle\ 55.png");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}
.activeBoxMovie img {
  display: none;
}
.activeBoxMovie .overlay-bet-movie-desc , .activeBoxMovie .playMovie{
  display: flex;
}
.overlay-bet-movie-desc {
  background: rgba(206, 206, 206, 0.7);
  border-radius: 26px;
  bottom: 6%;
  width: 80%;
  height: 151px;
  margin-right: 20px;
}
.description {
  text-align: start;
}
.footer {
  background-color: var(--bgFooter);
}
.footer h4 {
  color: var(--color);
}
.footer li , .footer a{
  color: var(--color);
}
@media only screen and (min-width: 1024px) {
  .discount-code-box {
    width: 75%;
  }
  .discount-btn {
    width: 25%;
  }
}
@media only screen and (max-width: 1024px) {
  .icon-searchBar svg {
    width: 20px;
    height: 20px;
  }
  .formSearchBar {
    width: auto;
    max-width: 100px;
  }
  .discount-code-box {
    width: 75%;
  }
  .discount-btn {
    width: 25%;
  }
}
@media only screen and (max-width: 993px) {
  .header {
    height: 70vh;
  }
  .menuMobile {
    top: 70px;
    height: auto;
  }
  .sectionCategory {
    width: 75%;
  }
  .parenDropDown {
    display: none;
  }
  .text-discount-link {
    font-size: 14px;
  }
  .discount-input,
  .discount-input::placeholder {
    font-size: 12px;
  }
  .section-buy-subscription-icon {
    width: 20%;
    border-left: 2px dashed #a4a4a4;
  }
  .section-buy-subscription {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .menuMobile {
    top: 54px;
    height: auto;
  }
  .btn-slider-right {
    right: 35px;
  }
  .btn-slider-left {
    left: 35px;
  }
  .text-main-header {
    width: 100%;
  }
  #btnBuySubscriptionMainHeader span,
  #btnBuyTiketMainHeader span {
    font-size: 14px;
  }
  #btnBuySubscriptionMainHeader svg,
  #btnBuyTiketMainHeader svg {
    width: 22px;
    height: 22px;
  }
  .text-discount-link {
    font-size: 14px;
  }
  .discount-input,
  .discount-input::placeholder {
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
  }
  .discount-code-box {
    width: 100%;
  }
  .discount-btn {
    width: 100%;
  }
}
@media only screen and (max-width: 525px) {
  .slider img {
    width: 150px;
  }
  .listMobile li a {
    font-size: 14px;
  }
  .btn-slider-right {
    right: 0;
  }
  .btn-slider-left {
    left: 0;
  }
  .icon-searchBar svg {
    width: 16px;
    height: 16px;
  }
  .sectionCategory {
    width: 100%;
  }
  .title-slider-product h3 {
    font-size: 1.3rem;
  }
  .text-discount-link {
    font-size: 12px;
  }
  .discount-input,
  .discount-input::placeholder {
    font-size: 12px;
  }
  .section-buy-subscription-icon::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 77px;
  }
  .section-buy-subscription-icon::before {
    content: "";
    position: absolute;
    bottom: -17px;
    right: 77px;
  }
  .title-buy-subscription {
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) {
  .section-buy-subscription-icon::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 60px;
  }
  .section-buy-subscription-icon::before {
    content: "";
    position: absolute;
    bottom: -17px;
    right: 60px;
  }
}
@media only screen and (max-width: 376px) {
  .section-buy-subscription-icon::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 50px;
  }
  .section-buy-subscription-icon::before {
    content: "";
    position: absolute;
    bottom: -17px;
    right: 50px;
  }
}
